/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Header */

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    height: 70px;
}

/* Header Menu */
ul.menu li {
    list-style-type: none;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

li a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

ul.menu li a:hover {
    color: #0c7cec;
    border-bottom: 3px solid #0c7cec;
}

/* Container */

.container {
    padding: 0;
    margin: auto;
    width: 1280px;
}